<a href="https://colab.research.google.com/github/dlguswn3659/big_pie/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **7강 연습문제**
**연습문제 7-4** 국가별 행복도 출력하기

In [0]:
happiness = {
    '호주' : 7.95,
    '노르웨이' : 7.9,
    '미국' : 7.85,
    '일본' : 6.2,
    '한국' : 5.75,
}

In [0]:
for k in happiness:
  print(k + ' 사람들은 ' , happiness[k], ' 만큼 행복합니다.')

호주 사람들은  7.95  만큼 행복합니다.
노르웨이 사람들은  7.9  만큼 행복합니다.
미국 사람들은  7.85  만큼 행복합니다.
일본 사람들은  6.2  만큼 행복합니다.
한국 사람들은  5.75  만큼 행복합니다.

**연습문제 7-5** 육십갑자표

In [0]:
천간 = ['갑', '을', '병', '정', '무', '기', '경', '신', '임', '계']
지지 = ['자', '축', '인', '묘', '진', '사', '오', '미', '신', '유', '술', '해']

In [0]:
for i in 천간:
  for j in 지지:
    print(i + j, end=' ')
  print()

갑자 갑축 갑인 갑묘 갑진 갑사 갑오 갑미 갑신 갑유 갑술 갑해
을자 을축 을인 을묘 을진 을사 을오 을미 을신 을유 을술 을해
병자 병축 병인 병묘 병진 병사 병오 병미 병신 병유 병술 병해
정자 정축 정인 정묘 정진 정사 정오 정미 정신 정유 정술 정해
무자 무축 무인 무묘 무진 무사 무오 무미 무신 무유 무술 무해
기자 기축 기인 기묘 기진 기사 기오 기미 기신 기유 기술 기해
경자 경축 경인 경묘 경진 경사 경오 경미 경신 경유 경술 경해
신자 신축 신인 신묘 신진 신사 신오 신미 신신 신유 신술 신해
임자 임축 임인 임묘 임진 임사 임오 임미 임신 임유 임술 임해
계자 계축 계인 계묘 계진 계사 계오 계미 계신 계유 계술 계해

**연습문제 7-6** 두 시퀀스의 요소 합하기

In [0]:
def plus_elements(list1, list2):
  for first, second in zip(list1, list2):
    print(first+second, end = ' ')

In [0]:
list1 = 1, 2, 3
list2 = 4, 5, 6
plus_elements(list1, list2)

5 7 9

# **10강 연습문제**
**코드 10-5**

In [1]:
def mean(seq):
    """시퀀스의 산술평균을 구한다."""
    return sum(seq) / len(seq)

def median(seq):
    """시퀀스의 중앙값을 구한다."""
    n = len(seq)              # 시퀀스의 길이와
    sorted_seq = sorted(seq)  # 정렬된 시퀀스를 구한 후
    
    # 시퀀스 길이가 짝수인 경우: 가운데 두 원소의 평균 반환
    if n % 2 == 0:
        return (sorted_seq[n // 2 - 1] + sorted_seq[n // 2]) / 2
    # 그 외: 가운데 원소 반환
    else:
        return sorted_seq[n // 2]

def most_frequent(seq):
    """시퀀스의 최빈값을 구한다."""
    # 사전에 빈도 기록
    frequencies = {}
    for element in seq:
        if element in frequencies:
            frequencies[element] += 1
        else:
            frequencies[element] = 1
    
    # 사전의 항목들을 빈도순으로 정렬하고 최빈값 반환
    frequencies = sorted(frequencies.items(), key=lambda item: item[1])
    return frequencies[-1][0]

# 기말고사 성적
scores = [99, 98, 96, 100, 99, 92, 93, 27, 96, 85, 100, 99]

# 학생들의 키
heights = [155.8, 182.7, 166.3, 181.1, 179.5, 173.2, 174.5, 162.3]

# 칭찬도장 받은 학생
compliments = ['박연오', '김파이', '김파이', '박연오', '박연오']

print('기말고사 성적 평균:', mean(scores))
print('가운데 앉은 학생의 키:', median(heights))
print('칭찬을 가장 많이 받은 학생:', most_frequent(compliments))

기말고사 성적 평균: 90.33333333333333
가운데 앉은 학생의 키: 173.85
칭찬을 가장 많이 받은 학생: 박연오