<a href="https://colab.research.google.com/github/dlguswn3659/big_pie/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **7강 연습문제**
**연습문제 7-4** 국가별 행복도 출력하기

In [0]:
happiness = {
    '호주' : 7.95,
    '노르웨이' : 7.9,
    '미국' : 7.85,
    '일본' : 6.2,
    '한국' : 5.75,
}

In [4]:
for k in happiness:
  print(k + ' 사람들은 ' , happiness[k], ' 만큼 행복합니다.')

호주 사람들은  7.95  만큼 행복합니다.
노르웨이 사람들은  7.9  만큼 행복합니다.
미국 사람들은  7.85  만큼 행복합니다.
일본 사람들은  6.2  만큼 행복합니다.
한국 사람들은  5.75  만큼 행복합니다.

**연습문제 7-5** 육십갑자표

In [0]:
천간 = ['갑', '을', '병', '정', '무', '기', '경', '신', '임', '계']
지지 = ['자', '축', '인', '묘', '진', '사', '오', '미', '신', '유', '술', '해']

In [7]:
for i in 천간:
  for j in 지지:
    print(i + j, end=' ')
  print()

갑자 갑축 갑인 갑묘 갑진 갑사 갑오 갑미 갑신 갑유 갑술 갑해
을자 을축 을인 을묘 을진 을사 을오 을미 을신 을유 을술 을해
병자 병축 병인 병묘 병진 병사 병오 병미 병신 병유 병술 병해
정자 정축 정인 정묘 정진 정사 정오 정미 정신 정유 정술 정해
무자 무축 무인 무묘 무진 무사 무오 무미 무신 무유 무술 무해
기자 기축 기인 기묘 기진 기사 기오 기미 기신 기유 기술 기해
경자 경축 경인 경묘 경진 경사 경오 경미 경신 경유 경술 경해
신자 신축 신인 신묘 신진 신사 신오 신미 신신 신유 신술 신해
임자 임축 임인 임묘 임진 임사 임오 임미 임신 임유 임술 임해
계자 계축 계인 계묘 계진 계사 계오 계미 계신 계유 계술 계해

**연습문제 7-6** 두 시퀀스의 요소 합하기

In [0]:
def plus_elements(list1, list2):
  for first, second in zip(list1, list2):
    print(first+second, end = ' ')

In [12]:
list1 = 1, 2, 3
list2 = 4, 5, 6
plus_elements(list1, list2)

5 7 9